<!doctype html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <link rel="shortcut icon" href="#" />
    <link rel="stylesheet" type="text/css" href="{{pluginResources}}/Template/gachaCount/gachaCount.css" />
    <link rel="preload" href="{{pluginResources}}/Fonts/MiSans-Regular.ttf" as="font" />
</head>

<body id="body">
    <div id="account">
        <div id="user-name">漂泊者</div>
        <div id="user-uid">{{GachaData.playerId}}</div>
    </div>
    <div id="pool-type">{{GachaData.pool}}</div>
    <ul id="gacha-list">
        {{each GachaData.five_star five_star idx}}
        <li class="role-card">
            <div class="role-avatar"><img src="{{five_star.avatar}}" style="width: 197px;"></div>
            <div class="myProgress">
                <div class="myBar" data-times="{{five_star.times}}"></div>
            </div>
            <div class="tags">
                {{each five_star.tags tags}}
                <span class="tag">{{tags}}</span>
                {{/each}}
            </div>
            <div class="four-stars">
                {{each five_star.four_star four_star}}
                <div class="four-star">
                    <img src="{{four_star.avatar}}" class="four-star-pic">
                    <div class="four-star-times">{{four_star.count}}</div>
                </div>
                {{/each}}
            </div>
        </li>
        {{/each}}
    </ul>
    <div id="footer"></div>

    <script>
        document.querySelectorAll('.myBar').forEach(function(bar) {
            var times = bar.getAttribute('data-times');
            var width = times / 0.8 + '%';
            bar.style.width = width;
        });
    </script>
</body>

</html>
