@font-face {
    font-family: "MiSans";
    src: url("../../Fonts/MiSans-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

ul {
    list-style: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

#body {
    width: 1220px;
    height: auto;
    background-image: url(./imgs/background.png);
    background-repeat: no-repeat;
    font-family: "MiSans";
}

#account {
    height: 626px;
}

#user-name {
    position: relative;
    left: 323px;
    top: 132px;
    height: auto;
    color: white;
    font-size: 58px;
}

#user-uid {
    position: relative;
    left: 462px;
    top: 148px;
    color: white;
    font-size: 39px;
}

#pool-type {
    position: relative;
    margin: 30px 0px 0px 92px;
    color: white;
    font-size: 58px;
}

#statistic {
    position: relative;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 230px 220px 170px 320px;
    column-gap: 20px;
    left: 116px;
    width: 1000px;
    height: 174px;
    border-radius: 0px 0px 15px 15px;
}

.statistic-value {
    width: 100%;
    text-align: center;
    font-size: 40px;
    padding: 92px 0px 0px 0px;
    color: white;
}

#gacha-list {
    position: relative;
    margin: 16px 0px;
    left: 51px;
    width: 1119px;
    height: auto;
}

.role-card {
    position: relative;
    display: block;
    margin-bottom: 18px;
    height: 188px;
    background-image: url(./imgs/card.png);
    background-size: cover;
    padding-bottom: 50px;
    border-radius: 0px 16px;
}

.role-avatar {
    position: relative;
    left: 13px;
    top: 14px;
    width: 130px;
    height: 130px;
    overflow: hidden;
    border-radius: 0px 10px;
}

.role-time {
    position: absolute;
    top: 144px;
    left: 14px;
    width: 130px;
    font-size: 32px;
    text-align: center;
}

.myProgress {
    position: relative;
    top: -106px;
    left: 154px;
    width: 950px;
    background-color: #cbcbcb;
    border-radius: 10px;
    border: 3px solid #b8b8b8;
}

.myBar {
    width: 100%;
    height: 56px;
    line-height: 28px;
    background-color: #fff691;
    border-radius: 10px;
}

.five-star-times {
    position: absolute;
    top: 28.5px;
    left: 162px;
    font-size: 40px;
    color: black;
}

.four-stars {
    position: relative;
    display: grid;
    grid-template-columns: 81px 81px 81px 81px 81px 81px 81px 81px 81px 81px;
    column-gap: 8px;
    top: -100px;
    left: 154px;
    width: 950px;
    height: 81px;
    text-align: center;
}

.four-star {
    position: relative;
    padding: 3px;
    width: 81px;
    height: 81px;
    overflow: hidden;
    background-image: url(./imgs/border.png);
    border-radius: 0px 14px;
}

.four-star-pic {
    width: 75px;
    height: 75px;
    object-position: top;
    object-fit: cover;
}

.four-star-times {
    position: absolute;
    padding: 0px 0.7px;
    right: 0px;
    bottom: 0px;
    width: 20px;
    height: 26px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 20px;
    text-align: center;
}

#footer {
    height: 100px;
}