@font-face {
    font-family: "MiSans";
    src: url("../../fonts/MiSans-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

#body {
    transform-origin: top left;
    width: 1220px;
    height: 1173px;
    font-family: "Misans";
}

#body>div {
    background: url(imgs/background.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 1173px;
}

#account {
    height: 500px;
}

#user-name {
    position: relative;
    left: 324px;
    top: 133px;
    height: auto;
    color: white;
    font-size: 58px;
}

#user-uid {
    position: relative;
    left: 462px;
    top: 146px;
    height: auto;
    color: white;
    font-size: 39px;
}

#data {
    position: relative;
    margin-top: 152px;
    left: 52px;
    height: 402px;
    width: 1118px;
}

#stamina {
    position: absolute;
    top: 41px;
    left: 204px;
    font-size: 48px;
}

#activity {
    position: absolute;
    top: 41px;
    left: 626px;
    font-size: 48px;
}

#dailytime {
    position: absolute;
    top: 140px;
    left: 204px;
    font-size: 24px;
    color: #8b8984;
    white-space: nowrap;
}

#experience {
    position: absolute;
    top: 241px;
    left: 740px;
    font-size: 33px;
}

#level {
    position: absolute;
    top: 318px;
    left: 88px;
    font-size: 33px;
}

#progress {
    position: absolute;
    top: 299.3px;
    left: 214px;
    width: 700px;
    height: 16px;
    mask: linear-gradient(90deg, #000 60%, #0000 0) 0/2%;
    -webkit-mask: linear-gradient(90deg, #000 60%, #0000 0) 0/2%;
}

#copyright {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 2px black;
    text-align: center;
}

#copyright .version {
    color: #d3bc8e;
    display: inline-block;
    padding: 0 3px;
}