<!doctype html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <link rel="shortcut icon" href="#" />
    <link rel="stylesheet" type="text/css" href="{{pluginResources}}/Template/training/training.css" />
    <link rel="preload" href="{{pluginResources}}/fonts/Guruwords.ttf" as="font" />
</head>

<body id="body" {{sys.scale}}>
    <div id="box">
        <div id="header">
            <div id="user-name">练度统计</div>
            <div id="user-uid">UID：{{baseData.id}}</div>
        </div>
        <div id="container-1">
            <ul>
                <li>
                    <div class="center">#</div>
                    <div class="center">角色</div>
                    <div class="center">武器</div>
                    <div class="center">技能</div>
                    <div class="center">声骸</div>
                </li>
                {{each roleList role idx}}
                <li class="star-{{role.starLevel}}">
                    <div class="index center">{{idx + 1}}</div>
                    <div class="role center">
                        <div class="level">
                            Lv{{role.level}}
                        </div>
                        <div class="role-pic">
                            <img src="{{role.roleIconUrl}}">
                        </div>
                        <div class="reson reson-{{role.chainCount}}">
                            {{role.chainCount}}
                        </div>
                        <div class="name">
                            {{role.roleName}}
                        </div>
                    </div>
                    <div class="weapon center">
                        <div class="level">
                            Lv{{role.weaponData.level}}
                        </div>
                        <div class="weapon-pic">
                            <img src="{{role.weaponData.weapon.weaponIcon}}">
                        </div>
                        <div class="reson reson-{{role.weaponData.resonLevel}}">
                            {{role.weaponData.resonLevel}}
                        </div>
                        <div class="name">
                            {{role.weaponData.weapon.weaponName}}
                        </div>
                    </div>
                    <div class="skill center">
                        {{each role.skillList skill idx}}
                        <div>
                            {{skill.level}}
                            <img src="{{skill.skill.iconUrl}}">
                        </div>
                        {{/each}}
                    </div>
                    <div class="phantom center">
                        <div class="phantom-pic">
                            {{if role.phantomData.equipPhantomList[0]}}
                            <img src="{{role.phantomData.equipPhantomList[0].phantomProp?.iconUrl}}">
                            {{else}}
                            <img src="{{pluginResources}}/Template/training/imgs/no_phantom.png">
                            {{/if}}
                        </div>
                        <div class="phantom-rank" style="background-color: {{role.phantomData.statistic.color}};">
                            {{role.phantomData.statistic.rank}}
                        </div>
                        <div class="phantom-score">
                            {{typeof role.phantomData.statistic.totalScore === 'number' ?
                            role.phantomData.statistic.totalScore.toFixed(2) : role.phantomData.statistic.totalScore}}
                        </div>
                    </div>
                </li>
                {{/each}}
            </ul>
        </div>
        <div id="copyright">{{@copyright}}</div>
    </div>
</body>

</html>