@font-face {
    font-family: "MiSans";
    src: url("../../fonts/MiSans-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

#body {
    width: 1890px;
    height: 1000px;
    background: url(./imgs/relics.png) no-repeat;
    font-family: "MiSans";
}

#container {
    padding-bottom: 50px;
}

#left {
    height: auto;
    width: 45%;
    float: left;
}

#avatar {
    height: 440px;
}

#avatar img {
    position: relative;
    top: 77px;
    left: 264px;
    width: 360px;
    height: 360px;
    border-radius: 15px 0px;
}

#name {
    padding: 40px 0px 0px 44px;
    height: 150px;
    color: #474747;
    text-align: center;
    font-size: 42px;
}

#desc-table {
    position: relative;
    left: 106px;
    width: 708px;
    background-color: #fafafa;
    border: 3px solid #dadada;
    border-radius: 15px 0px 15px 0px;
}

#desc-table td {
    padding: 0px 30px;
}

#right {
    height: auto;
    width: 55%;
    float: right;
}

#data-table {
    margin: 70px 104px 0px 13px;
    font-size: 20px;
    overflow: hidden;
    border: 1px solid #dadada;
    border-radius: 15px 0px 15px 0px;
}

#data-table>table {
    border: 0px solid #dadada;
}

#data-table td {
    padding: 0px 30px;
}