<!doctype html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <link rel="shortcut icon" href="#" />
    <link rel="stylesheet" type="text/css" href="{{pluginResources}}/Template/charProfile/charProfile.css" />
    <link rel="preload" href="{{pluginResources}}/Fonts/MiSans-Regular.ttf" as="font" />
</head>

<body id="body" data-content='{{data}}'>
    <div id="container">
        <div id="header">
            <div id="user-id">UID:{{data.uid}}</div>
            <img src="{{pluginResources}}/Template/charProfile/imgs/attribute/{{data.roleDetail.data.role.attributeId}}.png"
                id="attribute-icon">
            <div id="role-name">{{data.roleDetail.data.role.roleName}}</div>
            <div id="role-level">LV.{{data.roleDetail.data.role.level}}</div>
            <img src="{{pluginResources}}/Template/charProfile/imgs/{{data.roleDetail.data.role.starLevel}}star.png"
                id="role-star">
            <img src="{{data.roleDetail.data.role.rolePicUrl}}" id="role-pic">
            <div id="chain">
                <div id="chain-list">
                    {{each data.roleDetail.data.chainList chain}}
                    <img src="{{chain.iconUrl}}" actived="{{chain.unlocked}}">
                    {{/each}}
                </div>
            </div>
        </div>
        <div id="skill">
            <div id="skill-list">
                {{each data.roleDetail.data.skillList skill idx}}
                {{if idx<5}} <div class="skill-item">
                    <img src="{{skill.skill.iconUrl}}" class="skill-icon">
                    <div class="skill-level">LV.{{skill.level}}</div>
            </div>
            {{/if}}
            {{/each}}
        </div>
    </div>
    <div id="table">
        <div>
            <div id="weapon-icon-box">
                <img src="{{data.roleDetail.data.weaponData.weapon.weaponIcon}}" id="weapon-icon">
                <div class="phantom-level">LV.{{data.roleDetail.data.weaponData.level}}</div>
            </div>
            <div class="phantom-header-right">
                <div id="weapon-name">{{data.roleDetail.data.weaponData.weapon.weaponName}}</div>
                <div id="weapon-level-box">
                    <span id="reson-level">精{{data.roleDetail.data.weaponData.resonLevel}}</span>
                </div>
                <img src="{{pluginResources}}/Template/charProfile/imgs/{{data.roleDetail.data.weaponData.weapon.weaponStarLevel}}star.png"
                    id="weapon-star">
            </div>
            <div id="weapon-effect-name">{{data.roleDetail.data.weaponData.weapon.weaponEffectName}}</div>
            <div id="effect-description">{{data.roleDetail.data.weaponData.weapon.effectDescription}}</div>
        </div>
        {{each data.roleDetail.data.phantomData.equipPhantomList phantom}}
        {{if phantom}}
        <div class="phantom-list">
            <div class="phantom-header">
                <img src="{{phantom.phantomProp.iconUrl}}" class="phantom-icon">
                <div class="phantom-level">+{{phantom.level}}</div>
                <div class="phantom-header-right">
                    <div class="phantom-name">{{phantom.phantomProp.name}}</div>
                    <span class="phantom-cost">COST <strong>{{phantom.cost}}</strong></span>
                    <img src="{{phantom.fetterDetail.iconUrl}}" class="fetter-icon">
                    <img src="{{pluginResources}}/Template/charProfile/imgs//{{phantom.quality}}star.png">
                </div>
            </div>
            <div class="phantom-attribute"></div>
        </div>
        {{/if}}
        {{/each}}
    </div>
    </div>

    <script>
        const dataContent = JSON.parse(document.getElementById('body').getAttribute('data-content'))
        if (dataContent.tapRoleData) {
            document.querySelectorAll(".phantom-list").forEach(Ele => {
                let phantomName = Ele.getElementsByClassName("phantom-name")[0].textContent
                let index = dataContent.tapRoleData.equips.findIndex(equip => equip.name === phantomName)
                if (index !== -1) {
                    let htmlContent = ''
                    dataContent.tapRoleData.equips[index].props.forEach(prop => {
                        htmlContent += `
                        <div class="phantom-attribute-item">
                            <span class="phantom-attribute-key">${prop.key}</span> <span class="phantom-attribute-value">${prop.value}</span>
                        </div>`
                    })
                    Ele.getElementsByClassName("phantom-attribute")[0].innerHTML = htmlContent
                    dataContent.tapRoleData.equips.splice(index, 1)
                }
            })
        } else {
            document.querySelectorAll(".phantom-list").forEach(Ele => {
                Ele.getElementsByClassName("phantom-attribute")[0].innerHTML = '绑定Taptap查看详细词条';
                Ele.getElementsByClassName("phantom-attribute")[0].style.color = '#7b7774';
                Ele.getElementsByClassName("phantom-attribute")[0].style.marginTop = '80px';
                Ele.getElementsByClassName("phantom-attribute")[0].style.fontSize = '18px';
            });
        }

        const colorMap = {
            1: "rgb(53, 152, 219)",
            2: "rgb(224, 62, 45)",
            3: "rgb(185, 106, 217)",
            4: "rgb(45, 194, 107)",
            5: "rgb(241, 196, 15)",
            6: "rgb(230, 30, 144)"
        };

        document.querySelectorAll("#chain-list img").forEach(img => {
            const isActive = img.getAttribute("actived") === "true";
            img.className = isActive ? "chain-icon-actived" : "chain-icon-inactived";

            const color = colorMap[dataContent.roleDetail.data.role.attributeId];
            img.style.backgroundColor = color;

            const factor = isActive ? 1.2 : 0.8;
            const borderColor = `rgba(${color.slice(4, -1).split(",").map(c => parseInt(c) * factor).join(",")}, 0.6)`;
            img.style.border = `5px solid ${borderColor}`;
        });
    </script>
</body>

</html>