<!doctype html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <link rel="shortcut icon" href="#" />
    <link rel="stylesheet" type="text/css" href="{{pluginResources}}/Template/signIn/signIn.css" />
    <link rel="preload" href="{{pluginResources}}/fonts/MiSans-Regular.ttf" as="font" />
</head>

<body id="body">
    <div id="today">
        {{each signInData.todayList todayItem idx}}
        <div class="today-box">
            <img src="{{todayItem.goodsUrl}}" class="today-icon">
            <div class="today-number">x{{todayItem.goodsNum}}</div>
        </div>
        {{/each}}
    </div>
    <div id="tomorrow">
        {{each signInData.tomorrowList tomorrowItem idx}}
        <div class="tomorrow-box">
            <img src="{{tomorrowItem.goodsUrl}}" class="tomorrow-icon">
            <div class="tomorrow-number">x{{tomorrowItem.goodsNum}}</div>
        </div>
        {{/each}}
    </div>
</body>

</html>
