@font-face {
    font-family: "MiSans";
    src: url("../../Fonts/MiSans-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

#body {
    width: 713px;
    height: 1011px;
    background: url(imgs/background.png) no-repeat;
    font-family: "Misans";
}

#today {
    position: relative;
    display: flex;
    justify-content: center;
    top: 228px;
    width: 714px;
    height: 183px;
}

.today-box {
    background: url(imgs/iconBg.png);
    background-size: cover;
    height: 183px;
    width: 180px;
    margin: 0px 14px;
    border-radius: 10px 0px 10px 0px;
}

.today-icon {
    position: relative;
    height: 180px;
    width: 180px;
}

.today-number {
    position: relative;
    top: -40px;
    left: 68px;
    width: 100px;
    font-size: 22px;
    font-weight: 900;
    color: #4a4230;
    text-align: right;
}


#tomorrow {
    position: relative;
    display: flex;
    justify-content: center;
    top: 490px;
    width: 714px;
    height: 138px;
}

.tomorrow-box {
    background: url(imgs/iconBg.png);
    background-size: cover;
    height: 138px;
    width: 138px;
    margin: 0px 14px;
    border-radius: 10px 0px 10px 0px;
}

.tomorrow-icon {
    position: relative;
    height: 138px;
    width: 138px;
}

.tomorrow-number {
    position: relative;
    top: -39px;
    left: 28px;
    width: 100px;
    font-size: 20px;
    font-weight: 800;
    color: #4a4230;
    text-align: right;
}
