<!doctype html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <link rel="shortcut icon" href="#" />
    <link rel="stylesheet" type="text/css" href="{{pluginResources}}/Template/userManage/userManage.css" />
    <link rel="preload" href="{{pluginResources}}/fonts/MiSans-Regular.ttf" as="font" />
</head>

<body id="body">

    <div id="container">
        <div id="left">
            <div id="circle">
                <div id="total-tokens">
                    <span>TOKEN总数</span>
                    {{data.total}}
                </div>
            </div>
        </div>
        <div id="right">
            <div id="tag">用户统计</div>
            <ul>
                <li>绑定用户：{{data.bind}}</li>
                <li>登录用户：{{data.login}}</li>
                <li>可用数量：{{data.available}}</li>
                <li>失效数量：{{data.expired}}</li>
            </ul>
        </div>
    </div>

</body>

</html>